<h1>Week <%= @week.week_number %> for <%= @repository.name %></h1>
<p>Begin Date: <%= @week.begin_date %></p>
<p>End Date: <%= @week.end_date %></p>

<h2>Statistics</h2>
<ul>
  <li>Open PRs: <%= @week.open_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'open') %>">View PRs</a>)</li>
  <li>PRs Started: <%= @week.started_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'started') %>">View PRs</a>)</li>
  <li>PRs First Reviewed: <%= @week.first_review_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'first_reviewed') %>">View PRs</a>)</li>
  <li>Avg Hours to First Review: <%= @week.avg_hours_to_first_review&.round(2) || 'N/A' %></li>
  <li>PRs Merged: <%= @week.merged_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'merged') %>">View PRs</a>)</li>
  <li>Avg Hours to Merge: <%= @week.avg_hours_to_merge&.round(2) || 'N/A' %></li>
  <li>PRs Cancelled: <%= @week.cancelled_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'cancelled') %>">View PRs</a>)</li>
  <li>Draft PRs: <%= @week.draft_prs.count %> (<a href="#" data-remote="true" data-url="<%= pr_list_repository_week_path(@repository, @week, category: 'draft') %>">View PRs</a>)</li>
</ul>

<div id="pr-list-container"></div>

<% if @previous_week %>
  <%= link_to 'Previous Week', repository_week_path(@repository, @previous_week) %>
<% end %>

<% if @next_week %>
  <%= link_to 'Next Week', repository_week_path(@repository, @next_week) %>
<% end %>

<%= link_to 'Back to Repository', repository_path(@repository) %>
