<h1><%= @user.username %></h1>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<h2>Pull Requests</h2>

<ul>
  <% @pull_request_users.each do |pull_request_user| %>
    <li>
      <%= link_to pull_request_user.pull_request.title, pull_request_path(pull_request_user.pull_request) %>
      (<%= pull_request_user.role %>)
    </li>
  <% end %>
</ul>

<%= paginate @pull_request_users %>
